.DS_Store
.Rproj.user
cleaned_data/
raw_data/
construction/
intermediate_data
ebay scraper/ebay
plastics/plastics_readme.md
plastics/policy_modelling/material_flow_model
plastics/policy_modelling/emissions_model